<!DOCTYPE html>
<html>
    <head>
        <meta name="pdfkit-page-size" content="Letter"/>
        <meta name="pdfkit-orientation" content="Landscape"/>
        <meta name="pdfkit-margin-top" content="1in"/>
        <meta name="pdfkit-margin-right" content="0.75in"/>
        <meta name="pdfkit-margin-bottom" content="1in"/>
        <meta name="pdfkit-margin-left" content="0.75in"/>
        <meta charset="UTF-8">

    </head>
    <body style="font-family: Arial, Helvetica, sans-serif;">
        
        <div class="write-in-questions" style="width: 100%; margin-top: 50px;">
            <h3>
                What is your field of study? Select all that apply.
            </h3>

            <table style="width: 100%;">
                <tr>
                    <td></td>
                    <td>Astrophysics</td>
                    <td></td>
                    <td>Engineering</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Biology</td>
                    <td></td>
                    <td>Math</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Chemistry</td>
                    <td></td>
                    <td>Physics</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Computer Science</td>
                    <td></td>
                    <td>Other: </td>
                </tr>
                <tr>
                    <td></td>
                    <td>Earth or Planetary Science</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>

            <h3>
                Are you primarily an experimentalist, observer, or theorist? Select one.
            </h3>

            <table style="width: 40%">
                <tr>
                    <td></td>
                    <td>Experimentalist</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Observer</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Theorist</td>
                </tr>
            </table>

            <h3>
                In what year did you (or do you expect to) receive your PhD? ____________
            </h3>

            <h3>
                How was your science impacted by conversations with program participants whom you didn't list as collaborators above?
            </h3>

            <br />
            <br />
            <br />

            <h3>
                How did the program impact your pre-existing collaborations?
            </h3>
            <br />
            <br />
            <br />

        </div>
        
    </body>
</html>