<!DOCTYPE html>
<html>
    <head>
        <meta name="pdfkit-page-size" content="Letter"/>
        <meta name="pdfkit-orientation" content="Portrait"/>
        <meta name="pdfkit-margin-top" content="0.75in"/>
        <meta name="pdfkit-margin-right" content="0.75in"/>
        <meta name="pdfkit-margin-bottom" content="0.75in"/>
        <meta name="pdfkit-margin-left" content="0.75in"/>

    </head>
    <body style="font-family: Arial, Helvetica, sans-serif;">
        
        <div class="name-date">
            <p style="float: left">Name:___________________________</h3>
            <p style="float: right">Date:___________________________</h3>
        </div>

        <br /><br />

        <div>
            <p>This 3-page survey takes about 5 minutes to complete. KITP will use the data to examine how its programs affect participants' collaboration networks. Return it to room 1102 or the key drop box when you've completed it. Thank you!
            </p>
        </div>
        <div>
            <p>
                <b>Had you collaborated with any of these BRAINLEARN23 invitees prior to the program, and/or did you collaborate with them during the program? Check all that apply.</b> For the purposes of this survey, "collaborate" means "interact on a project that is not part of a large, institutional collaboration."
            </p>
        </div>
        <div>
            {folks_table}
        </div>
        
    </body>
</html>